@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    padding: 2rem;
    padding-left: 30%;
    padding-right: 30%;
    background-color: rgb(218, 218, 218);
    border-top-right-radius: 1rem;
}